<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Colors of Public Art - {{artist_name}}</title>
        <link rel="stylesheet" href="/static/styles/index.css" type="text/css" media="screen" />
    </head>
    <body class="artist-page">

        <div class="artist-name">
            <h1 class="color-block--title">{{artist_name}}</h1>
        </div>

        <div class="images">
            {% for art in arts %}
            <a class="images--image" href="/art/{{ art.object_id }}">
                <img height="300" src="/static/images/{{ art.object_id }}.jpg"/>
            </a>
            {% endfor %}
        </div>


    </body>
</html>
