<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Colors of Public Art - {{colorname}}</title>
        <link rel="stylesheet" href="/static/styles/index.css" type="text/css" media="screen" />
    </head>
    <body class="color-page">

        <div class="color-block" style="background-color: rgb({{r}},{{g}},{{b}});">
            <h1 class="color-block--title">{{colorname}}</h1>
        </div>

        <div class="images">
            {% for (art, percentage) in arts %}
            <a class="images--image" href="/art/{{ art.object_id }}">
                <img height="300" src="/static/images/{{ art.object_id }}.jpg"/>
            </a>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if pagenumber > 1 %}
            <a class="pagination__link" href="/colors/{{colorname}}?page={{pagenumber-1}}" style="background-color: rgb({{r}},{{g}},{{b}});">< Prev</a>
            {% endif %}
            {% if hasmore %}
            <a class="pagination__link" href="/colors/{{colorname}}?page={{pagenumber+1}}" style="background-color: rgb({{r}},{{g}},{{b}});">Next ></a>
            {% endif %}
        </div>

    </body>
</html>
